html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: aquamarine;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color: aqua;
    padding: 10px 20px 0px;
}
.header {
    background-color: rgb(5, 108, 108);
    min-height: 150px;
    text-align: center;
    
}
.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
    text-align: center;

}
.footer {
    background-color: rgb(99, 56, 240);
    min-height: 150px;
    text-align: center;
}

table{
    border: solid 1px #000;
    margin: 0 auto;

}

table thead{
    background-color: #000;
    color: white;
    font-weight: bold;
}
label, button{
    display: block;
    margin: 0 auto;
}
input{
    width: 300px;
}